* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: darkseagreen;
  box-sizing: border-box;
}

#article-title {
  color: blanchedalmond;
  text-align: center;
  font-family: georgia;
  font-size: 48px;
  margin: 20px 30px;
}

#subtitle {
  font-size: 28px;
  color: darkgreen;
  margin: 20px 50px;
}

#header-image {
  text-align: center;
  margin: 10px;
}

#header-caption {
  text-align: center;
  margin: 10px;
}

.byline {
  font-style: italic;
}

.section-title {
  text-align: center;
  color: darkolivegreen;
  margin: 20px 30px;
}

.section-image {
  background-color: mediumseagreen;
  width: 600px;
  text-align: center;
  font-style: italic;
}

.blog-post {
  text-align: justify;
  padding: 15px 20px;
  margin: 0 85px;
  border: 1px solid darkolivegreen;
}

.footer a:hover {
  text-align: center;
  background-color: lightgreen'
  font-weight: bold;
}

article p {
  background-color: blanchedalmond;
  width: 50%;
  margin: auto;
  text-align: justify;
}

p {
  text-align: justify;
  font-size: 18px;
  padding: 15px 100px;
  margin: 0 auto;
}

a:hover {
  background-color: lightgreen;
  font-weight: bold;
}
