* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

#article-title {
  color: darkgreen;
  text-align: center;
  font-family: georgia;
  font-size: 48px;
  margin: 20px 30px;
}

#subtitle {
  font-size: 28px;
  color: darkgreen;
  margin: 20px 50px;
}

#header-image {
  text-align: center;
  margin: 10px;
}

#header-caption {
  text-align: center;
  margin: 10px;
}

.section-title {
  text-align: center;
  color: darkolivegreen;
  margin: 20px 30px;
}

.section-image {
  text-align: center;
}

.blog-post {
  text-align: justify;
  padding: 15px 20px;
  margin: 0 85px;
  border: 3px solid darkolivegreen;
  border-radius: 15px;
  font-size: 18px;
}

.footer a:hover {
  text-align: center;
  background-color: lightgreen;
  font-weight: bold;
  font-size: 18px;
}

.article-list {
  width: 50%;
  text-align: justify;
  font-size: 18px;
}

.button-group-topic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group-city {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
  padding: 15px 100px;
  margin: 0 auto;
  font-size: 18px;
}

a:hover {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 18px;
}

.button-group-topic a {
  padding: 0px 0px;
  margin: 5px 10px;
  background-color: darkolivegreen;
  border-radius: 15px;
  font-size: 18px;
}

.button-group-city a {
  padding: 0px 0px;
  margin: 5px 10px;
  background-color: darkolivegreen;
  border-radius: 15px;
  font-size: 18px;
}

.button-group-topic a:hover,
.button-group-city a:hover {
  color: darkolivegreen;
  background-color: lightgreen;
}

.nav-button:hover {
  color: darkolivegreen;
  background-color: lightgreen;
  font-weight: bold;
  cursor: pointer;
}

button {
  padding: 10px 15px;
  margin: 0px 0px;
  color: blanchedalmond;
  background-color: darkolivegreen;
  font-size: 18px;
  border: 1px solid darkolivegreen;
  border-radius: 15px;
}

